/* Module Emoji */

input[type='button'].emoji{
  display: inline-block;
  background-color:transparent;
  border:none;
}

input[type="button"]:active, input[type="button"]:focus {
  background-color:gray;
}

.emojis.active{
  display: block;
  position:relative;
}


.emojis-inside.active {
  display: block;
  position: absolute;
  background: #fff;
  border: solid 1px #aaa;
  box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, .3);
  border-radius: 5px;
  padding: 5px;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.emojis-input{
  margin-bottom: 7px;
  margin-top:-12px;
}