/* Module Emoji */

input[type='button'].emoji{
  display: inline-block;
  background-color:transparent;
  border:none;
}

#emoji-input.active, .emojis.active{
  display: inline-block;
}

.emojis-input{
  margin-bottom: 7px;
  margin-top:-12px;
}

.emojis-input input[type='button']{
  margin:1px;
}