html, body {
	height:100%;
	margin:0;
	padding:0;
	overflow:hidden;
}
img, iframe {
	max-width:100%;
}
body {
	background:#888;
	color:#555;
	text-align:center;
	font-family:Arial;
}
h1 {
	color:#fff;
	text-transform:uppercase;
	text-shadow:0px 0px 20px rgba(0, 0, 0, 0.4);
}
#chat {
	margin:0 auto;
	width:70%;
	max-width:500px;
	height: calc(100% - 80px - 40px - 60px); /* 80px = marge haute, 40px = marge basse, 60px = padding vertical */
	padding:30px;
	background:#fff;
	border-radius:14px;
	font-size:0;
	box-shadow:0px 0px 20px 0 rgba(0, 0, 0, 0.3);
}
#messages {
	height:calc(100% - 15px - 60px); /* 15px = padding-top, 60px = formulaire en dessous  */
	padding-top:15px;
	width:100%;
	overflow-y:scroll;
	margin-bottom:20px;
	font-size:12px;
	border-top-left-radius:8px;
	border-bottom-left-radius:8px;
	border-right: solid 1px #eaeaea;
    border-bottom: solid 2px #DDD;
	background:#eee;
	text-align: left;
}
#messages .message {
	padding:4px 20px;
}
#messages .message:nth-child(2n) {
	background:rgba(0, 0, 0, .02);
}
#message-input {
	display:inline-block;
	border:solid 2px #888;
	width:calc(100% - 144px);
	padding:0 20px;
	height:31px;
	border-top-left-radius:8px;
	border-bottom-left-radius:8px;
	border-right:none;
	transition:all .4s;
}
#send-message {
	display:inline-block;
	border:solid 2px #888;
	background:0;
	width:100px;
	padding:8px 0;
	text-transform:uppercase;
	font-weight:bold;
	color:inherit;
	background:#888;
	color:#fff;
	border-top-right-radius:8px;
	border-bottom-right-radius:8px;
	cursor:pointer;
	transition:all .4s;
}
#message-input:focus {
	outline:none;
	border-color:#666;
}
#send-message:focus {
	outline:none;
}
#message-input:focus + #send-message {
	border-color:#666;
	background:#777;
}
#messages .message .user {
	font-weight:bold;
	color: #FF1500;
}
#messages .message .user:after {
	content:': ';
}

#features {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    border-radius: 12px;
    padding: 20px 15px;
    text-align: left;
    font-size: 12px;
    width: 300px;
    box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.3);
}
#features h2 {
	margin-top:0;
}
#features ul {
	margin:0;
	margin-left:20px;
	padding:0;
}
#features li {
	margin-bottom:15px;
}
#features li:last-child {
	margin-bottom:0;
}


#messages .message .bold {
	font-weight:bold;
}

.column {
	float: left;
	/*width: 0%;*/
	margin-left: 8px;
	margin-right: auto;
  }

.italic {
	font-style:italic;
}

.bold {
	font-weight: bold;
}

.underline {
	text-decoration: underline;
}

.on {
	background-color: lightgreen;

}
.list-participants
{
	margin-left: 5px;
	position: fixed;
	width: 10%;
	height: auto;
	background: #fff;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
	text-align: left;
	font-size: 12px;
	padding: 20px 15px;
	color: green;
}
.list-participants h2
{
	text-align: center;
}

.list-participants img {
		width:15px;
		margin-right:5px;
}

#troisbouton {
	margin-top: 5px;

}
/* STYLE WIKI.JS */

.article {
	border: 1px solid #e64c4c;
	border-radius: 5px;
	background: rgba(136, 136, 136, 0.144);
	margin: 0;
	padding: 5px;
}

.summ {
	display: inline-block;
	text-align: justify;
	max-height: 8vh;
	overflow: hidden;
}

.summ>p {
	margin: 0;
}

h3.title {
	margin: 0;
	padding-bottom: 15px;
}

a.encard {
	text-decoration: none;
	color: #474747;
}