@font-face {
    font-family: "Typo";
    src: url("Typo_Round_Bold_Demo.otf");
}

.quizz-start{
    font-weight: bold;
    font-size: 17px;
}
.error{
    color: red;
}
.question{
    color: #045762;
    font-family: "Typo";
    font-size: 15px;
}
.quizzDiv{
    background-color: #eee;
    min-width: 23vmin;
    height: auto;
    position: absolute;
    left: 0;
    top: 10vmin;
    border-radius: 10px;
}
.quizzDiv>ul{
    list-style-type: none;
}
.gagnant{
    color: #4f8a1e;
    font-size: 150%;
}
.varQuizz{
    width: 40%;
}